@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

#login-main {
  height: 100%;
  padding-bottom: 0;

  #login-logo {
    max-width: 20rem;
    padding-bottom: 1rem;
  }



  #login-btn {
    width: 7rem;
    height: 7rem;
    outline: none;

    img {
      width: 50%;
    }
  }
}


@include media-breakpoint-up(lg) {
  #login-main{
    padding-bottom: 20%;
  }
}

