@mixin material-overrides() {
  @include nb-for-themes(material-dark, material-light) {
    nb-layout-header {
      background-color: nb-theme(my-header-background) !important;

      nav{
        color: nb-theme(my-header-text) !important;
        a {
          color: nb-theme(my-header-text) !important;
        }
      }

      nb-actions,
      .logo-container {
        nb-icon,
        .user-name {
          color: nb-theme(my-header-text) !important;
        }
      }

      nb-action {
        border-left-color:rgba(0,0,0,.1) !important;
      }

      nb-user .user-picture {
        border: 0 !important;
      }

      .select-button {
        background-color: nb-theme(background-basic-color-3) !important;
      }
    }

    nb-sidebar {
      transition: width 0.1s;

      .scrollable::-webkit-scrollbar-track{
        background: nb-theme(my-sidebar-background) !important;
      }

      .scrollable::-webkit-scrollbar-thumb{
        background: rgba(255,255,255,.3);
      }

      nb-menu {
        .menu-item {

          border-bottom: 1px solid nb-theme(my-sidebar-background) !important;

          a {
            color: nb-theme(my-menu-text-color) !important;
            .menu-icon {
              color: nb-theme(my-menu-text-color) !important;
            }
          }
          a:hover{
            background-color: nb-theme(my-menu-item-hover-background-color) !important;
          }
          a.active {
            color: nb-theme(my-color-main) !important;
            background-color: nb-theme(my-menu-item-active-background-color) !important;
            .menu-icon {
              color: nb-theme(my-color-main) !important;
            }
          }

          .menu-item:first-child {
            border-top: 1px solid nb-theme(my-sidebar-background) !important;
          }

          .expand-state{
            color: nb-theme(my-menu-text-color) !important;
          }

        }
      }

      .main-container {
        transition: width 0.1s;
      }
    }

    nb-sidebar.compacted {
      nb-menu .menu-item a.active::before {
        background: nb-theme(my-color-main) !important;
      }
    }

    nb-card {
      border-bottom-left-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;

      nb-card-header,
      .tabset {
        background-color: nb-theme(card-divider-color);
      }
    }

    [nbinput] {
      font-weight: 400;

      &.status-basic:focus:hover {
        border-color: nb-theme(color-primary-focus) !important;
      }
    }

    [nbbutton] {
      box-shadow: none !important;
    }
  }
}
